body {
  background-color: #eeffff;
}

.title {
  text-align: center;
  border-bottom: solid 3px #67c5ff;
  position: relative;
}

.title:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}

#question {
  text-align: center;
}

#result {
  text-align: center;
  font-size: 30px;
}

#button-wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

button {
  margin-left: auto;
  margin-right: auto;
}

#restart-button {
  border: solid 2px #67c5ff;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px 80px;
  transition: .4s;
  font-size: 20px;
}

.select-button {
  border: solid 2px #67c5ff;
  border-radius: 5px;
  background-color: #ffffff;
  width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px auto;
  transition: .4s;
  font-size: 18px;
}

#restart-button:hover {
  background: #67c5ff;
  color: white;
}

.select-button:hover {
  background: #67c5ff;
  color: white;
}